body {
    margin: 0;
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left {
    padding: 10vh 20px; 
    background: linear-gradient(to top, #ffffff 0%, #95a5a6 25%, #95a5a6 75%, #ffffff 100%) no-repeat;
    background-size: 2px;
    background-position: right;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    min-width: 315px;
}

label {
    cursor: pointer;
}

.center {
    padding: 10vh 20px;
    flex-grow: 1;
}

.order_area {
    display: flex;
    flex-direction: column;
}

.order {
    width: 100%;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.order p {
    margin: 0 0 10px;
}

.order p:first-child {
    margin-top: 10px;
}

.code {
    float: right;
}

.name {
    color: #1abc9c;
    font-weight: bold;
}

input,
select {
    height: 35px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #95a5a6;
    box-sizing: border-box;
    width: 100%;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
}

button { 
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 15px;
    line-height: 15px;
    background: #1abc9c;
    color: #ffffff;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.search_button {
    margin-left: 5px;
}

.checkbox_area,
.address {
    font-size: 16px;
    margin-top: 20px;
}

.checkbox_area {
    flex-grow: 1;
}

.order {
    box-shadow: 1,1,1,1 rgba(0,0,0,0.5);
}